.vscode/launch.json
.vscode/settings.json
src/application/Assets/CSEMP1.jpg
src/application/Assets/CSEMP2.jpg
src/application/Assets/CSEMP3.jpg
src/application/Assets/DES1.jpg
src/application/Assets/DES2.jpg
src/application/Assets/Owner.jpg
src/application/Assets/SUP1.jpg
src/application/Assets/SUP2.jpg
src/application/Assets/WEDSAMPLE1.jpg
src/application/Database/SampleCards/BC1.jpg
src/application/Database/SampleCards/BC2.jpg
src/application/Database/SampleCards/BC3.jpg
src/application/Database/SampleCards/BC4.jpg
src/application/Database/SampleCards/BC5.jpg
src/application/Database/SampleCards/BC6.jpg
src/application/Database/SampleCards/BC7.jpg
src/application/Database/SampleCards/CAL1.jpg
src/application/Database/SampleCards/CAL2.jpg
src/application/Database/SampleCards/CAL3.jpg
src/application/Database/SampleCards/CAL4.jpg
src/application/Database/SampleCards/CAL5.jpg
src/application/Database/SampleCards/CAL6.jpg
src/application/Database/SampleCards/CAL7.jpeg
src/application/Database/SampleCards/WC1.jpg
src/application/Database/SampleCards/WC2.jpg
src/application/Database/SampleCards/WC3.jpg
src/application/Database/SampleCards/WC4.jpg
src/application/Database/SampleCards/WC5.jpg
src/application/Database/SampleCards/WC6.jpg
src/application/Database/SampleCards/WC7.jpg
.vscode/launch.json
.vscode/settings.json
src/application/Database/Credentials.bin
src/application/Database/CurrentUser.bin
src/application/Database/Customers.bin
src/application/Database/Orders.bin
src/application/Database/Owners.bin
src/application/Database/EmployeeList/CSEmployees.bin
src/application/Database/EmployeeList/Designers.bin
src/application/Database/EmployeeList/Supervisors.bin
src/application/Database/Images/DES1
src/application/Database/Images/SUP1
src/application/User/Customer/goals
